<section class="sub-navigation">
    <div class="sub-nav-container">
        <nav>
            <ul class="sub-nav-list">
                <li>
                    <a id="notice" href="/board/main/notice">공지사항</a>
                </li>
                <li>
                    <a id="login" href="/auth/login">로그인</a>
                </li>
                <li>
                    <a id="register" href="/auth/signup">회원가입</a>
                </li>
            </ul>
        </nav>
    </div>
</section>
<section class="navigation">
    <div class="nav-container">
        <div class="brand">
            <a href="/">한 줄 코딩!</a>
        </div>
        <nav>
            <div class="nav-mobile">
                <div id="nav-toggle"><span></span></div>
            </div>
            <ul class="nav-list">
                <li class="mobile-only">
                    <a id="login" href="/auth/login">로그인</a>
                </li>
                <li>
                    <a href="/about">소개</a>
                </li>
                <li>
                    <div>게시판</div>
                    <ul class="nav-dropdown">
                        <li>
                            <a href="/board/main/list">커뮤니티</a>
                        </li>
                        <li>
                            <a href="/board/main/list">정보 공유</a>
                        </li>
                        <li>
                            <a href="/board/main/list">질문 & 답변</a>
                        </li>
                        <li>
                            <a href="/board/main/list">모임 후기</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/">사진</a>
                </li>
                <li>
                    <a href="/">모임 일정</a>
                </li>
                <li>
                    <a href="/">발표</a>
                </li>
            </ul>
        </nav>
    </div>
</section>