<div class="container">
    <p>Copyright <span id="this-year">2021</span> hanjulcoding. All Right Reserved.</p>
</div>
<script src="/js/common.js"></script>
<script src="/js/main.js"></script>
</body>
</html>