<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>