{{>main/layout/library}}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>주식과 부동산 </title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style-stock.css"/>

</head>



<body>

    <header>
        <div class="logo" onclick="location.href('#')"><img src="/img/logo.png"></div>
    </header>
    
	<input id="nowPage" name="nowPage" type="hidden" value="{{nowPage}}"/>
	

    <div class="searchConatiner">
        <input id="search" type="text" onkeyup="enterkey()"  placeholder="품목명 입력"  onfocus="this.placeholder=''" onblur="this.placeholder='품목명 입력'">
        <div id="searchBtn" onClick="getSearchCrtfc()" ><img src="/img/searchView.png"></div>
    	<select id="cntPerPage" name="sel" onchange="$('#nowPage').val(1); selChange($('#nowPage').val())">
			<option value="5" selected>5줄 보기</option>
			<option value="10">10줄 보기</option>
			<option value="15">15줄 보기</option>
			<option value="20">20줄 보기</option>
		</select>
    </div>

    <div class="infoContainer">
	    <table class="infoArea">
            <tr>
                <th class="infoTh section02 " >코드</th>
                <th class="infoTh section01">종목명</th>
                <th class="infoTh section02">전일종가</th>
                <th class="infoTh section02">적정매수가</th>
                <th class="infoTh section02">비율</th>
                <th class="infoTh section02">적정매도가</th>
                <th class="infoTh section02">의견</th>
                <th class="infoTh section02">기타의견</th>
                <th class="infoTh section02">상세보기</th>
            </tr>
            <tbody id="tbody">
            </tbody>
	    </table>
    </div>
    
    <div id="pageDiv" class="pageNum" style="display: block; text-align: center;">			
	</div>

<div id="crtfcKey"></div>

<select id="crtfcList">
</select>

<button id="getCrt" onClick="getCrtApi()">검색</button>

<br>
<textarea id="txtArea"></textarea>

</body>
</html>




<script>
$(document).ready(function() {
	getCrtfc();
	getSearchCrtfc();
});

function getCrtfc(){
	$.ajax({
		type: 'POST',
		url: '/stock/getCrtfc',
		data: {},
		dataType: 'JSON',
		success: function(data)
		{			
			if(data.result == 1){
				$("#crtfcList").empty();
				
				if(data.cropcordList.length == 0){
					$("#crtfcList").append("<option value=''>선택</option>");
				} else {
					$("#crtfcList").append("<option value=''>선택</option>");
					for(var i=0; i<data.cropcordList.length; i++){
						$("#crtfcList").append("<option value='" + data.cropcordList[i].corpCode + "'>" + data.cropcordList[i].corpName + "</option>");
					}
				}
			} else {
				alert("데이터를 가져올 수 없습니다");
			}
		},
		error:function(request,status,data)
		{
	        console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+data);
	    }
	});

}

function getSearchCrtfc(){
	$.ajax({
		type: 'POST',
		url: '/stock/getSearchCrtfc',
		data: {"cntPerPage": $("#cntPerPage").val(),
				"nowPage": $("#nowPage").val(),
				"search": $("#search").val()},
		dataType: 'JSON',
		success: function(data)
		{			
			if(data.result == 1){
				var tbody="";
				
				for(var i=0; i<data.stockCrtList.length; i++){
					tbody+="<tr>";
					tbody+="<td class='infoTd'>" + data.stockCrtList[i].corpCode + "</td>";
					tbody+="<td class='infoTd'>" + data.stockCrtList[i].corpName + "</td>";
					tbody+="<td class='infoTd'>" + data.stockCrtList[i].pdcp + "</td>";
					tbody+="<td class='infoTd'>" + data.stockCrtList[i].fpp + "</td>";
					tbody+="<td class='infoTd'>" + data.stockCrtList[i].ratio + "</td>";
					tbody+="<td class='infoTd'>" + data.stockCrtList[i].fsp + "</td>";
					tbody+="<td class='infoTd'>" + data.stockCrtList[i].opinion + "</td>";
					tbody+="<td class='infoTd'>" + data.stockCrtList[i].oopinion + "</td>";
					tbody+="<td class='infoTd'><a href='https://comp.fnguide.com/SVO2/ASP/SVD_main.asp?pGB=1&gicode=A"+data.stockCrtList[i].stockCode+"&cID=&MenuYn=Y&ReportGB=&NewMenuID=11&stkGb=&strResearchYN=' target='blank'><img src='/img/view.png'></a></td>";
					tbody+="</tr>";
				}
				
				$("#tbody").html(tbody);
				
				
				//페이징 처리	            
	            var htm = "";
	            if(data.paging.startPage != 1){
	            	htm += "<a href='#' onClick='selChange(" + (data.paging.startPage-1) + ")'><</a>";
	            }
	            for(var i=data.paging.startPage; i<=data.paging.endPage; i++){
	            	if(i == data.paging.nowPage){
	            		htm += "<b>" + i + "</b>";
	            	} else {
	            		htm += "<a href='#' onClick='selChange(" + i + ")'>" + i + "</a>";
	            	}
	            }
	            if(data.paging.endPage != data.paging.lastPage){
	            	htm += "<a href='#' onClick='selChange(" + (data.paging.endPage+1) + ")'>></a>";
	            }
	            
	            $("#pageDiv").html(htm);
	            
			} else {
				alert("데이터를 가져올 수 없습니다");
			}
		},
		error:function(request,status,data)
		{
	        console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+data);
	    }
	});

}

function getCrtApi(){
	if($("#crtfcList").val()==''){
		alert("회사를 선택해주세요");
		return;
	}

	$.ajax({
		type: 'POST',
		url: '/stock/getCrtApi',
		data: {"cropCord" : $("#crtfcList").val()},
		dataType: 'JSON',
		success: function(data)
		{			
			if(data.result == 1){
				alert("가져오기성공");
				$("#txtArea").val(data.cropJson);
			} else {
				alert("데이터를 가져올 수 없습니다");
			}
		},
		error:function(request,status,data)
		{
	        console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+data);
	    }
	});
}

function enterkey() {
	if (window.event.keyCode == 13) {
    	getSearchCrtfc()
    }
}

function selChange(nowPage){
	$("#nowPage").val(nowPage);
	
	getSearchCrtfc();
}
</script>