{{>main/layout/library}}
주식을볼까?

<div id="crtfcKey"></div>

<select id="crtfcList">
</select>

<button id="getCrt" onClick="getCrtApi()">검색</button>

<br>
<textarea id="txtArea"></textarea>

<script>
$(document).ready(function() {
	getCrtfc();
});

function getCrtfc(){
	$.ajax({
		type: 'POST',
		url: '/stock/getCrtfc',
		data: {},
		dataType: 'JSON',
		success: function(data)
		{			
			if(data.result == 1){
				$("#crtfcList").empty();
				
				if(data.cropcordList.length == 0){
					$("#crtfcList").append("<option value=''>선택</option>");
				} else {
					$("#crtfcList").append("<option value=''>선택</option>");
					for(var i=0; i<data.cropcordList.length; i++){
						$("#crtfcList").append("<option value='" + data.cropcordList[i].corpCode + "'>" + data.cropcordList[i].corpName + "</option>");
					}
				}
			} else {
				alert("데이터를 가져올 수 없습니다");
			}
		},
		error:function(request,status,data)
		{
	        console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+data);
	    }
	});

}

function getCrtApi(){
	if($("#crtfcList").val()==''){
		alert("회사를 선택해주세요");
		return;
	}

	$.ajax({
		type: 'POST',
		url: '/stock/getCrtApi',
		data: {"cropCord" : $("#crtfcList").val()},
		dataType: 'JSON',
		success: function(data)
		{			
			if(data.result == 1){
				alert("가져오기성공");
				$("#txtArea").val(data.cropJson);
			} else {
				alert("데이터를 가져올 수 없습니다");
			}
		},
		error:function(request,status,data)
		{
	        console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+data);
	    }
	});
}
</script>