<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inad.mgr.mapper.MapMapper">

	<select	id="getCdInfoSmall" resultType="com.inad.mgr.domain.CdInfo">
		SELECT * FROM tb_cdInfo
		WHERE si LIKE CONCAT(#{array[0]},'%')
		AND (gu1 LIKE CONCAT(#{array[1]},'%') OR gu2 LIKE CONCAT(#{array[1]},'%'))
		ORDER BY hangCd DESC
	</select>
	
	<select	id="getCdInfoBig" resultType="com.inad.mgr.domain.CdInfo">
		SELECT * FROM tb_cdInfo
		WHERE si LIKE CONCAT(#{si},'%')
		AND gun LIKE CONCAT(#{gun},'%')
		AND (gu1 LIKE CONCAT('%',#{gu},'%') OR gu2 LIKE CONCAT('%',#{gu},'%'))
		ORDER BY hangCd DESC 
	</select>
	
	<select id="getKind" resultType="com.inad.mgr.domain.BrTitleInfo">
		SELECT * FROM tb_brTitleInfo
		WHERE platPlc LIKE CONCAT(#{addr},'%')
		AND sigunguCd = #{siCode}
		AND bun = #{bun}
		AND ji = #{ji}
	</select>
	
	<select id="getKindLand" resultType="com.inad.mgr.domain.ApmmNvLandOpen">
		SELECT * FROM tb_apmmNvLandOpen
		WHERE pnu LIKE CONCAT(#{siCode},#{bjdongCd},'%')
		AND bobn = #{bun}
		AND bubn = #{ji}
	</select>
	
	<select id="getKindZipHap" resultType="com.inad.mgr.domain.BrExposInfoArea">
		SELECT * FROM tb_brExposInfoArea
		WHERE platPlc LIKE CONCAT(#{addr},'%')
		AND sigunguCd = #{siCode}
		AND bun = #{bun}
		AND ji = #{ji}
		ORDER BY dongNm ASC, hoNm ASC 
	</select>
	
	<select id="getAptPrice" resultType="com.inad.mgr.domain.data.DataApt" parameterType="hashMap">
		SELECT * FROM tb_dataApt
		WHERE platPlc LIKE CONCAT(#{addr},'%')
		AND bun = #{bun}
		AND ji = #{ji}
	</select>
	
	<select id="getOfficePrice" resultType="com.inad.mgr.domain.data.DataOffice" parameterType="hashMap">
		SELECT * FROM tb_dataOffice
		WHERE platPlc LIKE CONCAT(#{addr},'%')
		AND bun = cast(#{bun} as unsigned)
		AND ji = cast(#{ji} as unsigned)
	</select>
	
	<select id="getMultiPrice" resultType="com.inad.mgr.domain.data.DataMulti" parameterType="hashMap">
		SELECT * FROM tb_dataMulti
		WHERE platPlc LIKE CONCAT(#{addr},'%')
		AND bun = #{bun}
		AND ji = #{ji}
	</select>
	
	<select id="getCommercialPrice" resultType="com.inad.mgr.domain.data.DataMulti" parameterType="hashMap">
		SELECT * FROM tb_dataCommercial
		WHERE platPlc LIKE CONCAT(#{addr},'%')
		AND bun = #{bun}
		AND ji = #{ji}
	</select>
	
	<select id="getAlonePrice" resultType="com.inad.mgr.domain.data.DataAlone" parameterType="hashMap">
		SELECT * FROM tb_dataAlone
		WHERE platPlc LIKE CONCAT(#{addr},'%')
		AND bun = #{bun}
		AND ji = #{ji}
	</select>
	
	<select id="getLandPrice" resultType="com.inad.mgr.domain.data.DataLand" parameterType="hashMap">
		SELECT * FROM tb_dataLand
		WHERE sigunguCd = #{sigunguCd}
		AND hangCd = #{hangCd}
		AND bun = #{bun}
		AND ji = #{ji}
	</select>
	
</mapper>












